<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Add Person</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="navbar">
    <a href="http://localhost:8080/api/swagger-ui/index.html">Swagger</a>
    <a href="person">Person</a>
    <a href=person_all>Person_All</a>
    <a href="pet">Pet</a>
    <a href="pet_all">Pet_All</a>
</div>
<div class="container">
    <div>
        <h2>Add Person</h2>
        <form id="addPersonForm">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName"><br>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName"><br>
            <label for="address">Address:</label>
            <input type="text" id="address" name="address"><br>
            <label for="city">City:</label>
            <input type="text" id="city" name="city     "><br>
            <label for="telephone">Telephone:</label>
            <input type="text" id="telephone" name="telephone"><br>
            <input type="submit" value="Add Person">
        </form>
    </div>
</div>

<script>
    const addPersonForm = document.getElementById('addPersonForm');

    addPersonForm.addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = new FormData(addPersonForm);
        const jsonObject = {};

        formData.forEach((value, key) => {
            jsonObject[key] = value;
        });

        fetch('http://localhost:8080/person/save/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(jsonObject)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                alert('Person added successfully!');
                addPersonForm.reset();
            })
            .catch(error => {
                console.error('Error adding person:', error);
                alert('Error adding person. Please try again later.');
            });
    });
</script>
</body>
</html>
