<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Search Persons</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="navbar">
    <a href="http://localhost:8080/api/swagger-ui/index.html">Swagger</a>
    <a href="person">Person</a>
    <a href=all>AllPerson</a>
    <a href="addperson">Pridaj osobu</a>
    <a href="#">Test 3</a>
</div>
<div class="container">
    <h2>Search Persons</h2>
    <form id="searchForm" method="get">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <label for="lastname">Lastname:</label>
        <input type="text" id="lastname" name="lastname">
        <input type="submit" value="Search">
        <input type="button" value="Add Person" onclick="location.href='addperson';">
    </form>
    <br>
    <table id="searchResults">
        <thead>
        <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Telephone</th>
            <th>City</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
    const searchForm = document.getElementById('searchForm');
    const searchResults = document.getElementById('searchResults');

    searchForm.addEventListener('submit', function(event) {
        event.preventDefault();
        const name = document.getElementById('name').value.trim();
        const lastName = document.getElementById('lastname').value.trim();

        let searchURL = '';

        if (name !== '') {
            searchURL = `http://localhost:8080/person/allbyname/${name}`;
        } else if (lastName !== '') {
            searchURL = `http://localhost:8080/person/allbylastname/${lastName}`;
        } else {
            searchURL = 'http://localhost:8080/person/all';
        }

        fetch(searchURL)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.length === 0) {
                    alert('No persons found with the provided criteria');
                    return;
                }
                // Clear previous search results
                searchResults.querySelector('tbody').innerHTML = '';

                // Display search results
                data.forEach(person => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${person.firstname}</td>
                        <td>${person.lastname}</td>
                        <td>${person.address}</td>
                        <td>${person.telephone}</td>
                        <td>${person.city}</td>
                    `;
                    searchResults.querySelector('tbody').appendChild(row);
                });
            })
            .catch(error => {
                console.error('Error fetching data:', error);
                alert('Error fetching data. Please try again later.');
            });
    });
</script>
</body>
</html>
