<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Search Persons</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="navbar">
    <a href="http://localhost:8080/api/swagger-ui/index.html">Swagger</a>
    <a href="person">Person</a>
    <a href=person_all>Person_All</a>
    <a href="pet">Pet</a>
    <a href="pet_all">Pet_All</a>
</div>
<div class="container">
    <h2>Search Pets</h2>
    <form id="searchForm" method="get">
        <label for="petName">Name:</label>
        <input type="text" id="petName" name="petName">
        <label for="birthDate">Birth Date:</label>
        <input type="text" id="birthDate" name="birthDate">
        <input type="submit" value="Search">
        <input type="button" value="Add Pet" onclick="location.href='addpet';">
    </form>
    <br>
    <table id="searchResults">
        <thead>
        <tr>
            <th>Name</th>
            <th>Birth Date</th>
            <th>Type</th>
            <th>Owner</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
    const searchForm = document.getElementById('searchForm');
    const searchResults = document.getElementById('searchResults');

    // Map of type IDs to their corresponding texts
    const typeMap = {
        1: 'Cat(1)',
        2: 'Dog(2)',
        3: 'Lizard(3)',
        4: 'Snake(4)',
        5: 'Bird(5)',
        6: 'Hamster(6)'
    };

    searchForm.addEventListener('submit', function(event) {
        event.preventDefault();
        const petName = document.getElementById('petName').value.trim();
        const birthDate = document.getElementById('birthDate').value.trim();

        let searchURL = '';

        if (petName !== '') {
            searchURL = `http://localhost:8080/pet/allbyname/${petName}`;
        } else {
            searchURL = 'http://localhost:8080/pet/all';
        }

        fetch(searchURL)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.length === 0) {
                    alert('No pets found with the provided criteria');
                    return;
                }
                // Clear previous search results
                searchResults.querySelector('tbody').innerHTML = '';

                // Display search results
                data.forEach(pet => {
                    const row = document.createElement('tr');
                    // Format the birth date
                    const formattedBirthDate = new Date(pet.birthDate).toLocaleDateString();
                    // Map the type ID to its corresponding text
                    const type = typeMap[pet.typeId];
                    row.innerHTML = `
                        <td>${pet.petName}</td>
                        <td>${formattedBirthDate}</td>
                        <td>${type}</td>
                        <td>${pet.ownerId}</td>
                    `;
                    searchResults.querySelector('tbody').appendChild(row);
                });
            })
            .catch(error => {
                console.error('Error fetching data:', error);
                alert('Error fetching data. Please try again later.');
            });
    });
</script>
</body>
</html>
