<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets</title>
    <link href="style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="navbar">
    <a href="http://localhost:8080/api/swagger-ui/index.html">Swagger</a>
    <a href="person">Person</a>
    <a href=person_all>Person_All</a>
    <a href="pet">Pet</a>
    <a href="pet_all">Pet_All</a>
</div>
<div class="container">
    <h2>Pets</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Type Id</th>
            <th>Pet Name</th>
            <th>Birth Date</th>
            <th>Owner Id</th>
        </tr>
        </thead>
        <tbody id="data">
        </tbody>
    </table>
</div>

<script>
    const typeMap = {
        1: 'Cat(1)',
        2: 'Dog(2)',
        3: 'Lizard(3)',
        4: 'Snake(4)',
        5: 'Bird(5)',
        6: 'Hamster(6)'
    };
    // Fetch data from the endpoint
    fetch('http://localhost:8080/pet/all')
        .then(response => response.json())
        .then(data => {
            const dataContainer = document.getElementById('data');
            // Process each person's data
            data.forEach(pet => {
                // Create a row for each person
                const row = document.createElement('tr');
                const type = typeMap[pet.typeId];
                // Extract necessary information
                const id = pet.id;
                const petName = pet.petName;
                const birthDate = new Date(pet.birthDate).toLocaleDateString();
                const ownerId = pet.ownerId;

                // Populate the row with the data
                row.innerHTML = `
                        <td>${id}</td>
                        <td>${type}</td>
                        <td>${petName}</td>
                        <td>${birthDate}</td>
                        <td>${ownerId}</td>
                    `;

                // Append the row to the table body
                dataContainer.appendChild(row);
            });
        })
        .catch(error => console.error('Error fetching data:', error));
</script>
</body>
</html>
